[submodule "PracticaFlex"]
	path = PracticaFlex
	url = https://github.com/VoctorX/PracticaFlex.git
[submodule "PracticaCSS"]
	path = PracticaCSS
	url = https://github.com/VoctorX/PracticaCSS.git
[submodule "PracticaHTML"]
	path = PracticaHTML
	url = https://github.com/VoctorX/PracticaHTML.git
[submodule "PracticaGrid"]
path = PracticaHTML
url = https://github.com/VoctorX/PracticaGrid.git

