h1{
    color: gray;
    padding: 250px;  
}
footer{
    color: aqua;
}
.lo h1{
    padding: 11px;
}
.lo{
    font-size:xx-small;
    background-color: black;
}
.box{
    gap: 20px;  /* espacio entre div */
    display: flex; /* Misma linea el div */
    justify-content: center; /* Centrar todos los textos */
    flex-direction: row-reverse; /* Todo en reversa */
}